@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,body {
    background-color: #fff;
    cursor: url("https://i.ibb.co/LRpCcQM/cursor.png"), auto;
    overflow-x: hidden;
}

canvas {
    display: block;
    vertical-align: bottom;
  }

.navbar {
    background-color: transparent;
    margin-bottom: -5rem !important;
}

.nav-link {
    font-family: epilogue;
    font-size: 1rem;
}

.pt-30 {
    padding-top: 6rem;
}

.hero {
  height: 100vh;
 
}

.bg-hero {
  background: linear-gradient(180deg, #FFC700 0%, #FAFF00 0.01%, #FFD600 100%);;
}

.hero h1 {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-align: center;
    transition: all .2s ease-in-out;
    font-size: 4rem;
    word-spacing: -2rem;
}

.hero h1:hover {
    transform: scale(1.4);
    background: linear-gradient(to right, #FFF 20%, rgb(255, 0, 212) 40%, rgb(233, 255, 36) 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .hero h2 {
    font-family: epilogue;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

  }

  .car {
    width: 30%;
  }  

  .hero:hover + .car {
    width: 50%;
  }

.cd1 {
  background: linear-gradient(180deg, #FFC700 0%, #FFD600 0.01%, #FF8A00 100%);
}

.cd2 {
  background: linear-gradient(180deg, #FFC700 0%, #FF8A00 0.01%, #FF1F00 100%);
}

.star {
    transform: rotateZ(45deg);
    position: absolute;
  }
  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #440b85, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #531699);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #440b85, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #440b85, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - 105px);
    left: calc(50% - 36px);
    -webkit-animation-delay: 3754ms;
            animation-delay: 3754ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 3754ms;
            animation-delay: 3754ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - 102px);
    left: calc(50% - 163px);
    -webkit-animation-delay: 753ms;
            animation-delay: 753ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 753ms;
            animation-delay: 753ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - -63px);
    left: calc(50% - 240px);
    -webkit-animation-delay: 5296ms;
            animation-delay: 5296ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 5296ms;
            animation-delay: 5296ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - -118px);
    left: calc(50% - 125px);
    -webkit-animation-delay: 8905ms;
            animation-delay: 8905ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 8905ms;
            animation-delay: 8905ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -182px);
    left: calc(50% - 173px);
    -webkit-animation-delay: 2381ms;
            animation-delay: 2381ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 2381ms;
            animation-delay: 2381ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - 61px);
    left: calc(50% - 6px);
    -webkit-animation-delay: 5643ms;
            animation-delay: 5643ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 5643ms;
            animation-delay: 5643ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - 163px);
    left: calc(50% - 70px);
    -webkit-animation-delay: 3851ms;
            animation-delay: 3851ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 3851ms;
            animation-delay: 3851ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - -186px);
    left: calc(50% - 30px);
    -webkit-animation-delay: 239ms;
            animation-delay: 239ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 239ms;
            animation-delay: 239ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - 115px);
    left: calc(50% - 194px);
    -webkit-animation-delay: 2567ms;
            animation-delay: 2567ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 2567ms;
            animation-delay: 2567ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - 183px);
    left: calc(50% - 136px);
    -webkit-animation-delay: 8994ms;
            animation-delay: 8994ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 8994ms;
            animation-delay: 8994ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - 133px);
    left: calc(50% - 143px);
    -webkit-animation-delay: 2210ms;
            animation-delay: 2210ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 2210ms;
            animation-delay: 2210ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - 114px);
    left: calc(50% - 2px);
    -webkit-animation-delay: 2073ms;
            animation-delay: 2073ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 2073ms;
            animation-delay: 2073ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - -49px);
    left: calc(50% - 151px);
    -webkit-animation-delay: 5714ms;
            animation-delay: 5714ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 5714ms;
            animation-delay: 5714ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - 98px);
    left: calc(50% - 84px);
    -webkit-animation-delay: 8918ms;
            animation-delay: 8918ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 8918ms;
            animation-delay: 8918ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - -184px);
    left: calc(50% - 143px);
    -webkit-animation-delay: 3077ms;
            animation-delay: 3077ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 3077ms;
            animation-delay: 3077ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - 122px);
    left: calc(50% - 163px);
    -webkit-animation-delay: 5685ms;
            animation-delay: 5685ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 5685ms;
            animation-delay: 5685ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - 42px);
    left: calc(50% - 44px);
    -webkit-animation-delay: 1823ms;
            animation-delay: 1823ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 1823ms;
            animation-delay: 1823ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - 147px);
    left: calc(50% - 152px);
    -webkit-animation-delay: 799ms;
            animation-delay: 799ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 799ms;
            animation-delay: 799ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - -199px);
    left: calc(50% - 135px);
    -webkit-animation-delay: 2166ms;
            animation-delay: 2166ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 2166ms;
            animation-delay: 2166ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - 74px);
    left: calc(50% - 21px);
    -webkit-animation-delay: 521ms;
            animation-delay: 521ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 521ms;
            animation-delay: 521ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }